<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over Sietse</h2>
                    <h3 class="section-subheading text-muted">Motivatie en passie</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Waarom jij aan het goede adres bent bij mij.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Ik zorg er samen met jou voor dat je het echt begrijpt en ook een mooi cijfer haalt. Dat is voor mij ook een deel van de beloning van het werk. Meld je snel aan zodat we kunnen beginnen! </p>
                                </div>
                            </div>
                        </li>
                      
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
